body {
  display: grid;
  margin: 0;
  padding: 10px;
  background-color: violet;
  grid-template-rows: 18% 6% auto;
}

header{
  text-align: center;
}

.title{
  font-family: inherit;
  font-size: 65px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.subtitle{
  font-family: inherit;
  font-size: 30px;
  margin-top: 8px;
}

.points{
  text-align: center;
  font-size: 25px;
}

.main{
  display: grid;
  margin: 10px;
  border: solid black 2px;
  grid-template-columns: 20% 20% 20% 20% auto;
}

section{
  border-right: solid black 2px;
  border-left: solid black 2px;
  display: grid;
  grid-template-rows: 10% 18% 18% 18% 18% 18% 18%;
}

.name{
  border-bottom: solid black 2px;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}

.question{
  border-bottom: solid black 1px;
}

button{
  margin-top: 5%;
  margin-left: 8%;
  font-size: 30px;
  padding: 15px 30px;
  width: 84%;
  display: inline-block;
}
